.headerContainer {
  padding: 20px 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  .logoImg {
    position: relative;
    width: 108px;
    height: 64px;
    @media (max-width: 900px) {
      width: 68px;
      height: 40px;
    }
  }
  .sidebarContainer {
    display: none;
    @media (max-width: 900px) {
      display: block;
    }
  }
}
