.qtySelectorContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qtyBtn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.qtyInput {
  width: 60px;
  height: 38px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitBtn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}
